<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict/>
	<key>appleId</key>
	<string>techliujing@gmail.com</string>
	<key>artistId</key>
	<integer>291478092</integer>
	<key>artistName</key>
	<string>SINA Corporation (Nasdaq: SINA)</string>
	<key>bundleDisplayName</key>
	<string>微博 HD</string>
	<key>bundleShortVersionString</key>
	<string>4.0.0</string>
	<key>bundleVersion</key>
	<string>1.0.0</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143465-19,32</string>
			<key>AppleID</key>
			<string>techliujing@gmail.com</string>
			<key>DSPersonID</key>
			<integer>1514520557</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>FirstName</key>
			<string>竞</string>
			<key>LastName</key>
			<string>刘</string>
			<key>PurchaserID</key>
			<integer>1514520557</integer>
			<key>UserName</key>
			<string>刘竞</string>
		</dict>
		<key>purchaseDate</key>
		<string>2014-07-01T14:55:41Z</string>
	</dict>
	<key>copyright</key>
	<string>© SINA Corporation</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>社交</string>
	<key>genreId</key>
	<integer>6005</integer>
	<key>is-purchased-redownload</key>
	<true/>
	<key>is32BitOnly</key>
	<true/>
	<key>itemId</key>
	<integer>386098453</integer>
	<key>itemName</key>
	<string>微博 HD</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>SINA Corporation (Nasdaq: SINA)</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2014-07-01T14:55:41Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.UNRESTRICTED_WEB_ACCESS and Advisory.NO.GAMBLING_CONTESTS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2010-10-12T23:56:11Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a995.phobos.apple.com/us/r30/Purple6/v4/75/b0/17/75b017dd-f9fc-1f62-db37-25394697eaf1/icon114x114.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.sina.weibohd</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>2877961</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>2877961</integer>
		<integer>3110572</integer>
		<integer>3251225</integer>
		<integer>3326256</integer>
		<integer>3438448</integer>
		<integer>3599924</integer>
		<integer>3712560</integer>
		<integer>3747451</integer>
		<integer>3763869</integer>
		<integer>3877588</integer>
		<integer>3959885</integer>
		<integer>4103475</integer>
		<integer>4409581</integer>
		<integer>4488975</integer>
		<integer>4810985</integer>
		<integer>5364444</integer>
		<integer>5661220</integer>
		<integer>5859997</integer>
		<integer>6348777</integer>
		<integer>7170451</integer>
		<integer>7450310</integer>
		<integer>8394848</integer>
		<integer>8853236</integer>
		<integer>9203000</integer>
		<integer>9174266</integer>
		<integer>9260530</integer>
		<integer>9612472</integer>
		<integer>10051251</integer>
		<integer>11502240</integer>
		<integer>11778411</integer>
		<integer>13013382</integer>
		<integer>13479102</integer>
		<integer>14616928</integer>
		<integer>15231913</integer>
		<integer>15525087</integer>
		<integer>15660202</integer>
		<integer>58092642</integer>
		<integer>86712732</integer>
		<integer>334892862</integer>
		<integer>447002656</integer>
		<integer>580672653</integer>
		<integer>811649129</integer>
		<integer>812050423</integer>
		<integer>812209437</integer>
		<integer>813272395</integer>
		<integer>813556569</integer>
		<integer>813617664</integer>
	</array>
	<key>storeCohort</key>
	<string>7|date=1404225000000&amp;sf=143465</string>
	<key>userName</key>
	<string>刘竞</string>
	<key>vendorId</key>
	<integer>36156</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
